<div class="container">
  <div class="row text-center">
    <div class="col-md-5">
      <app-product
      *ngFor="let list of products | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength}"
      [product]="list"
      (productSelected)="selectedProduct = $event"
      ></app-product>
    </div>
    <div class="col-md-7 text-center product-details">
      <app-product-details
        *ngIf="selectedProduct; else infoText"
        [product]="selectedProduct"></app-product-details>
        <ng-template #infoText>
          <h4 class="select-product">Please select a Product</h4>
        </ng-template>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="page = $event"  ></pagination-controls>
  </div>
</div>