<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-product
      *ngFor="let list of products"
      [product]="list"
      (productSelected)="selectedProduct = $event"
      ></app-product>
    </div>
    <div class="col-md-7">
      <app-product-details
        *ngIf="selectedProduct; else infoText"
        [product]="selectedProduct"></app-product-details>
        <ng-template #infoText>
          <p>Please select a Product</p>
        </ng-template>
    </div>
  </div>
</div>