.my-pagination{
  color: #7c6f6f;
  margin-top: 3rem;
}

.select-product {
  color: #fcc07D;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 11, 5, 0.8);
}