h1 {
  color: #fcc07d;
  font-family: 'Alegreya', serif;
  font-style: italic;
  margin-bottom: 3rem;
  text-decoration: underline;
}

h3 {
  color: #fcc07d;
}

h4 {
  color: #f0e7dd;
  margin-left: 1rem;
  font-style: italic;
}

.details {
  display: flex;
}