<div class="container details">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ product?.blend_name }}</h1>
    </div>
  </div>
  <div class="row text-start">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ product?.intensifier }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ product?.notes }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ product?.origin }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ product?.variety }}</h4>
      </div>
    </div>
  </div>
</div>
